#Inventory{
.cancel-inventory-installment{
    display: block;
    height: 40px;
    margin-top: 50px;
    width: 125px;
    border-radius: 16px;
    background-color: #ffffff;
    border: 1px solid #000000;
    color: rgb(0, 0, 0);
    text-align: center;
    float: right;
    margin-right: 20px;
}

}
.MuiTab-wrapper {
    margin-right: 10px;
}