.content-wrapper{
    height: 95vh;
.detail-input {
    height: 50px;
    font-weight: 400;
    border: 1px solid #eaeaea;
    color: #454545;
    padding-left: 10px;
    font-size: 16px;
    width: 100%;
    margin: 30px 0px 30px 0px;

}

.client-input {
    height: 50px;
    font-weight: 400;
    border: 1px solid #eaeaea;
    color: #454545;
    padding-left: 10px;
    font-size: 16px;
    width: 100%;
    margin: 0px 0px 30px 0px;
}

.react-tel-input {
    .form-control {
        height: 50px !important;
        width: 100% !important;
        border: 1px solid #eaeaea !important;
        margin: 30px 0px 30px 0px;

    }
}

.container-fluid {
    .leadRequirement {
        background-color: white;
        width: 200px;
        height: 50px;
        border-radius: 30px;
        border: 1px solid black;
    }
}
.Kyc {
    position: fixed;
    bottom: 0px;
    padding: 20px;
    margin-left: 10px;
    padding-right: 4vw;
    width: -webkit-fill-available;
    // 110vw
    box-shadow: 0px -8px 6px #0000001a;
    .breadcrumb{
background-color: transparent !important;
// display: inline-block;
float: right;
padding-right: 10px;

// margin-right: 28px;
.nav-link{
    padding: 0;
}
.client-cancel{
    display: block;
    height: 40px;
    padding-top: 6px;
    width: 100px;
    border-radius: 16px;
    color: black;
    text-align: center;
    border: 1px solid black;
}
.client-register{
    display: block;
    height: 40px;
    padding-top: 6px;
    width: 110px;
    border-radius: 16px;
    background-color: #3b7a4e;
    color: white;
    text-align: center;
}
    }
}
}
@media only screen and (max-width:991){
    .Kyc {
        position: relative;
    }
}
